<html>
<head>
	<title>Трудовак</title>
</head>
<body>
	<p>Здравей, трудовак!</p>

	<form name="input" action="s/" method="post">

		<p>С какво ще поздравим публиката днес?</p>
		С това: <br>
		<textarea name="sign" rows="4" wrap="hard"> Въведи текста на табелката тук </textarea>

		<p>Как го виждаш?</p>
		<input type="radio" name="colour" value="blue" checked="checked">
		Посинено
		<img width="25px" src="../bg-clean-blue.jpg"><br>

		<input type="radio" name="colour" value="red">
		Зачервено
		<img width="25px" src="../bg-clean-red.jpg"><br>
		<br>

		<input type="submit" value="Хайде, готово!">
	</form>
</body>
</html>