<html>
<head>
	<title>Трудовак</title>
</head>
<body>
<p>Здравей, трудовак!</p>
<p>С какво ще поздравим публиката днес?</p>
<form name="input" action="s/" method="post">
С това: </br><input type="text" name="sign">
<input type="submit" value="Хайде, готово!">
</form>
</body>
</html>