<html>
	<head>
		<title><%= @sign_text %> - Трудовак</title>
		<link 
			rel="stylesheet"
			type="text/css"
			href="/css/style.css">
	</head>
	<body>
		<h1 class="<%= @sign_colour %>-sign tabelka-text <%= @sign_text_length %>-text"><%= @sign_text %></h1>
	</body>
</html>
