<html>
	<head>
		<title><%= @sign_text %> - Трудовак</title>
		<link 
			rel="stylesheet"
			type="text/css"
			href="/css/style.css">
	</head>
	<body>
		<h1><%= @sign_text %></h1>
		<p>Свръзка: <%= @sign_link %></p>
	</body>
</html>
