body {
    font-family: sans-serif;
    text-align: center;
    color:black;
}

h1 {
/*other H1 attributes possible*/
    font-size: 20px;

}

.textbox {
    size:500px;
}

.tabelka-text {
    /*background:darkblue;*/
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:4%;
    padding:6%;
    /*border:0.5em solid grey;*/
    color:#EEE;
    font-size: 80px;
    font-family: sans-serif;
    text-align: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    white-space: pre;
}

.red-sign {
   background-image: url("../bg-clean-red.jpg");
}

.blue-sign {
   background-image: url("../bg-clean-blue.jpg");
}

