body {
    font-family: sans-serif;
    text-align: center;
    color:black;
}

h1, div {
    margin:0;
    padding:0;
}
h1 {
/*other H1 attributes possible*/
    font-size: 20px;
}

.input-form {

}

.textbox {

}


#tabelka-wrapper {
    /*background:darkblue;*/
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:4%;
    /*border:0.5em solid grey;*/
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#tabelka-text{
    padding:6%;
    color:#EEE;
    font-size: 180px;
    text-align: center;
    white-space: pre;
    word-wrap: break-word;

}

.red-sign {
   background-image: url("../bg-clean-red.jpg");
}

.blue-sign {
   background-image: url("../bg-clean-blue.jpg");
}

.long-text {
    font-size: 20px;
}

.medium-text {
    font-size: 50px;
}

.short-text {
    font-size: 100px;
}